<div class="top">
    <mat-toolbar style="background-color:rgb(113, 123, 9);  ">


            <span style="font-size: 36px; margin-left: 70px; color: #fff;">CM Coffee</span>
            <span class="example-spacer"></span>
            <input  style="width: 30%;height: 50%; border: 1px solid rgb(198, 197, 197); border-radius: 6px;" > <mat-icon aria-hidden="false" aria-label="Example search icon" fontIcon="search" style="margin-left: -32px;"></mat-icon>


            <span class="example-spacer"></span>
            <button mat-raised-button (click)="login()" *ngIf= "this.users"   style="margin-right: 40px; margin-right: -10px; background-color: black; color: #fff;" >Login</button>
            <span class="example-spacer"></span>
            <button mat-raised-button (click)="logout()" *ngIf= "this.users"  style="margin-right: 40px; background-color: black; color: #fff;">Logout</button>
            <span class="example-spacer"></span>

            <span class="example-spacer"></span>

            <div *ngIf="this.users" id="name" style="color: #fff;">{{this.users.displayName}}</div>
            <img *ngIf="this.users" [src]="this.users.photoURL" style="height: 32px; border-radius: 80px; margin-right: 40px;">
            <button mat-icon-button  routerLink="login" class="example-icon logout-icon" aria-label="Example logout icon">
            <mat-icon>logout</mat-icon>
            </button>
            <button mat-icon-button  routerLink="home" class="example-icon favorite-icon" aria-label="Example home icon">
              <mat-icon>home</mat-icon>
            </button>
            <button mat-icon-button routerLink="menu" class="example-icon dashboard-icon" aria-label="Example home dashboard icon">
              <mat-icon>dashboard</mat-icon>
            </button>
            <button mat-icon-button routerLink="cart" class="example-icon" aria-label="Example icon-button with shopping icon">
              <mat-icon >shopping_cart</mat-icon>
            </button>
          </mat-toolbar>

    </div>
