
.top{
  width: 100%;
  height: 8%;

}
.bottom{
  width: 100%;
  height: 92%;

  justify-content: center;
  margin-left: 2%;
}
.container{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

}
.item_container{
  width: 70%;
  height: 10%;
  box-shadow: 0px ,10px, 40px ,0px;

  }
