<div class="header" style="background-color: rgb(226, 239, 156);">
 

    <div id=" toolbar" style="padding: 40px; ">
      <mat-toolbar style="background-color:rgb(226, 239, 156); margin-top: 10px; margin-bottom: 5px;">
        <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button> -->
        
        <span style="font-size: 36px; margin-left: 70px;">CM Coffe</span>
        <span class="example-spacer"></span>
        <form class="input_container ">
          <td><mat-form-field class="input" style="width: 260px ;height: 75px; margin-right: 180px; margin-bottom: -22px; ">
            <mat-label >Tìm kiếm</mat-label>
            <input matInput>
          </mat-form-field></td>
        </form>
        <span class="example-spacer"></span>
        <button class="login" style="display: flex;justify-content: center;align-items: center; border: 1px solid rgb(186, 188, 186); width: 16%; height :30%; padding: 20px;background-color: #e5e7e5; color: rgb(5, 5, 5); border-radius: 6px ; margin-right: 100px;" aria-placeholder=" 
        
        "> Login </button>
        <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example home icon">
          <mat-icon>home</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with shopping icon">
          <mat-icon>shopping_cart</mat-icon>
        </button>  -->
      </mat-toolbar>
    </div>
    
  
</div>
<div class="bottom" style="display: flex; justify-content: center;align-items: center; background-color: #fff;">
  
    
    <div class=" content-left" style="height: auto; width: 10%; display:grid; justify-content:center;align-items:baseline;  margin-bottom: 880px;">
      
      <button mat-icon-button class="example-icon home-icon" aria-label="Example home icon">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button class="example-icon dashboard-icon" aria-label="Example home dashboard icon">
        <mat-icon>dashboard</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with shopping icon">
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </div>
    <div clas = " content-right" style="width: 90%;height: 100%; ">
      <div class="Caphe" style="display: flex; flex-wrap: wrap; margin-top: 40px; margin-left: 20px; margin-right: 20px;
      
      gap:115.5px;">
        <mat-card class="item_container" *ngFor="let cf of Coffe" style="width: 22%;height: 40%; border: 1px solid rgb(192, 191, 191); border-radius:40px ;  ">
          <img mat-card-image src="{{cf.image}}">
          <mat-card-content id="info">
            <br>
            <p>Tên: {{cf.name}}</p>
            <p>Giá: {{cf.price}}</p>
            <p> Số Lượng: {{cf.weight}}</p>
            <p>mô tả: {{cf.describe}}</p>
            <!-- <p *ngIf="cf.order == false">Tình trạng: Còn hàng</p>
            <p *ngIf="cf.oder == true">Tình trạng: Hết hàng</p> -->
            <br>
          </mat-card-content>
          <mat-card-actions id="btn_container">
            <button mat-button id="add_btn">MUA</button>
          </mat-card-actions>
        </mat-card>

      </div>

    </div>
    
    
</div>




