<div class="top"></div>
<div class="bottom">
<div class="Caphe">
<mat-card class="item_container"  >
    <img mat-card-image src="{{sale.image}}">
    <mat-card-content id="info">
      <br>
      <p>Tên: {{sale.name}}</p>
      <p>Giá:{{sale.price}} </p>
      <p>Số Lượng: {{sale.weight}}</p>
      <p>mô tả: {{sale.describe}}</p>

      <br>
    </mat-card-content>
    <mat-card-actions id="btn_container">
      <button mat-button id="add_btn " >MUA</button>
    </mat-card-actions>
  </mat-card>
</div>
</div>